## Avaliação Prática - Módulo 1 - Introdução à Análise de Dados com Liguagem R.

### Questão 1
Qual dos caracteres a seguir é utilizado para inserir comentários simples em R:

a)  //

b)  /

c)  --

d)  #

### Questão 2

In [12]:
x <- matrix(1:9, nrow = 3)
x

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

Considerando a matriz "x" anterior, marque a solução que, sem ter que digitar todo o comando de criação da matrix, mostre a seguinte saída.

     [,1] [,2] [,3]
[1,] 1    2    7
[2,] 2    5    8
[3,] 3    6    9

a) 

x[1,  2] <- 2

x

b) 

x[2,  1] <- 2

x

c)

x[1,  2] - 2

x

### Questão 3

In [7]:
numeros <- list(
        x = c(1, 2, 3), 
        y = c('one', 'two', 'three'),
        z = c('uno', 'dos', 'tres')
)

O código acima é referente a definição de uma lista denominada numeros. Mostre o uso de uma função do R que mostre saída a seguir:

[1] "x" "y" "z"

a) numeros$names

b) names(numeros)

c) numeros[names]

### Questão 4

In [ ]:
x <- c(4, 5, 6)
x --- 5

Substitua os hífens la linha de código acima para que produza a seguinte saída:

FALSE FALSE  TRUE

a) x + 1

b) x == 0

c) x > 5

d) x < 10

### Questão 5
Qual destes é um valor lógico em R?

a) True

b) true

c) TRUE

### Questão 6
Qual a saída deste código:

In [ ]:
x <- class(6)
x

a) "Logical"

b) "numeric"

c) "character"

### Questão 7
Complete o código para que produza a saída

In [ ]:
x <- c(1, 1, 1)

# soma todos os elementos do vetor x
--- (x)

a) x * 3

b) x + 2

c) x - 4

d) sum(x)

### Questão 8
Considere um dataframe definido como `df`. Qual comando você utilizaria em R para mostrar o número de `linhas` e `colunas` deste `dataframe`?

a) summary(df)

b) dim(df)

c) attributes(df)

d) head(df)

### Questão 9 
Considere um dataframe definido como `df`. Qual comando você utilizaria em R para mostrar a estatística descritiva para as colunas (variáveis) deste dataframe?

a) dim(df)

b) sd(df)

c) tail(df)

d) summary(df)

### Questão 10
Considere um dataframe definido como `df`. Qual comando você utilizaria em R para mostrar as 6 primeiras linhas deste dataframe?

a) tail(df)

b) cat(df)

c) head(df)

d) View(df)

### Questão 11
Qual função pode ser utilizada para visualização geral da estrutura dos dados de um `DataFrame`?

a) subset( )

b) str( )

c) frame( )

d) struct( )